<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 출장신청 사원정보조회 -->
<mapper namespace="holidaySet">
	<select id=  "holidaySetDBInsert" parameterType="jsonData" >
		INSERT INTO VACATION(VAST_C, VAST_TYPE, YRYC_REFL_YN, VAST_NOTE)
		VALUES(#{code}, #{title}, #{AnnualLeaveReflection}, #{note})
		WHERE NOT EXISTS ( SELECT * FROM VACATION WHERE VAST_C = #{code})
	</select>
	
	<select id=  "conWorkVacSetDBInsert" parameterType="jsonDataVac" >
		INSERT INTO continous_work_year(COWY_CONTINOUS_TYPE, COWY_VAC_DAYS,COWY_DEL_YN,COWY_NOTE)
		VALUES(#{conworkyear},#{vacofyear},N,#{note})
		WHERE NOT IN (SELECT * FROM continous_work_year WHERE COWY_CONTINOUS_TYPE = #{conworkyear});
	</select>
	 
</mapper>